#include "keys_ru.h"
#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/outputs.h>

/ {
    behaviors {
        enc_vol: enc_vol {
            compatible = "zmk,behavior-sensor-rotate";
            label = "ENC_VOL";
            #sensor-binding-cells = <0>;
            bindings = <&kp C_VOL_UP>, <&kp C_VOL_DN>;
        };
    };

    macros {
        ru_lang: ru_lang {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LG(SPACE) &to 4>;
            label = "RU_LANG";
        };

        en_lang: en_lang {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LG(SPACE) &to 0>;
            label = "EN_LANG";
        };
    };

    keymap {
        compatible = "zmk,keymap";

        base {
            bindings = <
&kp GRAVE      &kp N1  &kp N2    &kp N3    &kp N4     &kp N5                         &kp N6  &kp N7     &kp N8      &kp N9     &kp N0    &kp MINUS
&kp ESC        &kp W   &kp G     &kp D     &kp F      &kp B                          &kp Q   &kp L      &kp U       &kp O      &kp Y     &kp BACKSPACE
&kp BACKSLASH  &kp R   &kp S     &kp T     &kp H      &kp K                          &kp J   &kp N      &kp E       &kp A      &kp I     &kp SEMI
&kp TAB        &kp X   &kp C     &kp M     &kp P      &kp V   &kp LBKT     &kp RBKT  &kp Z   &kp COMMA  &kp PERIOD  &kp SQT    &kp FSLH  &kp ENTER
                       &ru_lang  &kp LGUI  &kp LSHFT  &mo 1   &kp SPACE    &kp RALT  &mo 2   &kp RSHFT  &kp RCTRL   &kp EQUAL
            >;

            display-name = "Base";
            sensor-bindings =
                <&enc_vol>,
                <&enc_vol>,
                <&enc_vol>,
                <&enc_vol>,
                <&enc_vol>,
                <&enc_vol>;
        };

        nav {
            bindings = <
&trans  &kp F1                &kp F2                 &kp F3            &kp F4             &kp F5                            &kp F6        &kp F7     &kp F8        &kp F9           &kp F10        &trans
&trans  &kp N1                &kp NUMBER_2           &kp NUMBER_3      &kp NUMBER_4       &kp NUMBER_5                      &kp NUMBER_6  &kp N7     &kp N8        &kp N9           &kp NUMBER_0   &kp DEL
&trans  &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS  &kp LEFT_BRACKET  &kp RIGHT_BRACKET  &kp MINUS                         &kp LEFT      &kp DOWN   &kp UP_ARROW  &kp RIGHT_ARROW  &kp SLASH      &trans
&trans  &kp LT                &kp GT                 &kp LEFT_BRACE    &kp RIGHT_BRACE    &kp EQUAL     &kp F11    &kp F12  &kp HOME      &kp PG_DN  &kp PG_UP     &kp END          &kp BACKSLASH  &trans
                              &trans                 &trans            &trans             &trans        &trans     &trans   &mo 3         &trans     &trans        &trans
            >;

            display-name = "Nav";
        };

        sym {
            bindings = <
&trans  &trans    &kp AT    &kp DLLR   &kp HASH  &trans                       &trans     &trans    &kp CARET  &trans    &trans    &trans
&trans  &trans    &kp LT    &kp EQUAL  &kp GT    &kp GRAVE                    &trans     &kp LBKT  &kp UNDER  &kp RBKT  &trans    &trans
&trans  &kp BSLH  &kp LPAR  &kp MINUS  &kp RPAR  &kp PLUS                     &kp PRCNT  &kp LBRC  &kp SEMI   &kp RBRC  &kp EXCL  &trans
&trans  &trans    &kp STAR  &kp COLON  &kp FSLH  &trans     &trans    &trans  &trans     &kp PIPE  &kp TILDE  &kp AMPS  &trans    &trans
                  &trans    &trans     &trans    &mo 3      &trans    &trans  &trans     &trans    &trans     &trans
            >;

            display-name = "Symbols";
        };

        adj {
            bindings = <
&bootloader  &trans  &trans  &trans  &trans  &trans                    &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2      &bt BT_SEL 3  &bt BT_SEL 4  &bt BT_CLR_ALL
&trans       &trans  &trans  &trans  &trans  &trans                    &trans        &trans        &trans            &trans        &trans        &studio_unlock
&trans       &trans  &trans  &trans  &trans  &trans                    &out OUT_BLE  &kp C_VOL_DN  &kp C_MUTE        &kp C_VOL_UP  &trans        &trans
&trans       &trans  &trans  &trans  &trans  &trans  &trans    &trans  &out OUT_USB  &kp C_PREV    &kp C_PLAY_PAUSE  &kp C_NEXT    &trans        &trans
                     &trans  &trans  &trans  &trans  &trans    &trans  &trans        &trans        &trans            &trans
            >;

            display-name = "Adjust";
        };

        russian {
            bindings = <
&kp GRAVE  &kp N1    &kp N2    &kp N3    &kp N4     &kp N5                            &kp N6  &kp N7     &kp N8     &kp N9     &kp N0  &kp MINUS
&kp ESC    &kp I     &kp U     &kp L     &kp A      &kp COMMA                         &kp W   &kp K      &kp E      &kp J      &kp S   &kp BSPC
&kp BSLH   &kp H     &kp C     &kp N     &kp LBKT   &kp R                             &kp Q   &kp Y      &kp T      &kp F      &kp B   &kp O
&kp TAB    &kp SEMI  &kp X     &kp V     &kp G      &kp D      &kp BSLH     &kp SQT   &kp P   &kp FSLH   &kp Z      &kp DOT    &kp M   &kp RET
                     &en_lang  &kp LGUI  &kp LSHFT  &trans     &kp SPACE    &kp RALT  &trans  &kp RSHFT  &kp LCTRL  &kp EQUAL
            >;
        };
    };
};
